---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import PageTitle from "@/components/PageTitle.astro";
import BlogEntries from "@/components/BlogEntries.astro";
import BlogEntry from "@/components/BlogEntry.astro";

const posts = (await getCollection("notes"))
    .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
    .filter((post) => post.data.draft !== true);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <PageTitle
                    title="Notes"
                    description="Flawed explanations of concepts beyond my understanding."
                />
                <BlogEntries>
                    {
                        posts.map((post) => (
                            <BlogEntry
                                collection={post.collection}
                                slug={post.slug}
                                title={post.data.title}
                                pubDate={post.data.pubDate}
                            />
                        ))
                    }
                </BlogEntries>
            </section>
        </main>
    </body>
</html>
